# .env
# Ganti nilai-nilai di bawah ini dengan API Keys asli milik Anda.

# Google reCAPTCHA v3
VITE_RECAPTCHA_SITE_KEY=MASUKKAN_SITE_KEY_RECAPTCHA_ANDA_DISINI

# EmailJS Configuration
VITE_EMAILJS_PUBLIC_KEY=MASUKKAN_PUBLIC_KEY_EMAILJS_ANDA_DISINI
VITE_EMAILJS_SERVICE_ID=MASUKKAN_SERVICE_ID_ANDA_DISINI
VITE_EMAILJS_TEMPLATE_ID=MASUKKAN_TEMPLATE_ID_ANDA_DISINI
